@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: white;
    font-family: 'Nunito', sans-serif;
}

body{
    background-image: linear-gradient(325deg, rgb(28, 96, 156), rgb(163, 222, 241));
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position:relative;
}

img{
    visibility:hidden;
}

img[src]{
    visibility: visible
}

p{
    margin: 5px;
}

main{
    width: 80%;
    height: 90%;
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.319);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.216);
}

header{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    padding: 0 2em;
}

input{
    background-color: transparent;
    font-size: 1em;
    padding: 0.3em 1em;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.433)
}

input::placeholder{
    color: rgba(255, 255, 255, 0.77);
}

span .pac-matched{
    color: black;
}

.days__wrapper{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80%;

}

.day{
    padding: 10px 3px;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    margin: 3em 0;
}

.day:not(:first-child):not(:last-child){
    border-right: solid 1px #6161613d
}

#today{
    margin: 0 !important;
    padding: 5px 3px;
    background-color:rgba(255, 255, 255, 0.31);
    flex: 2;
    border-radius: 10px;
}

.today__main__info{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    font-size: 1.5em;
    padding: 1em;
}

.info__wrapper > span{
    font-size: 0.7em;
}

.info__icon__wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.temperature{
    font-size: 3em;
    line-height: 1em;
}

.today__other__info{
    height: 50%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: calc(100% / 3) calc(100% / 3) calc(100% / 3) ;
    padding: 1em;
    text-align:center
}

.box{
    font-size: 1.3em;
    padding: 0.5em;
}

.box .label{
    font-size: 0.6em !important;
}

.day__main__info{
    height: 60%;
}

.day__other__info{
    height: 40%;
    font-size: 1.3em;
}

.day__other__info > p.label{
    font-size: 0.6em !important;
    margin-top: 1.3em
}

.powered{
    position: absolute;
    right: 5px;
    bottom:5px;
    color: white;
    text-decoration: none;
}